<template name="header">
    <nav class="navbar navbar-fixed-top navbar-inverse navbar-embossed" role="navigation">
        <ul id="nav" class="nav navbar-nav navbar-left">
            <li><a href="#user_details">Home</a></li>
            <li><a href="#bio">Bio</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#chart_area">Skills</a></li>
            <li><a href="#training">Training</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</template>
